.app-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  min-height: 100vh;
  width: 90%;
  background-image: linear-gradient(
    to bottom right,
    rgb(219, 119, 136),
    rgba(243, 172, 39, 0.726),
    rgb(227, 245, 125)
  );
}

.notes-input {
  border-radius: 10px;
  padding: 10px;
  font-family: "Calibri";
  color: blueviolet;
  font-size: 18px;
  font-weight: 600;
  max-width: 90%;
}

.add-button {
  padding: 10px 15px 10px 15px;
  background-color: blueviolet;
  color: azure;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px;
}
.list-of-notes {
  width: 90%;
  padding-left: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
