.note-text {
  border: 1px solid rgb(207, 156, 156);
  min-height: 100px;
  text-overflow: ellipsis;
  width: 200px;
  overflow: wrap;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
  margin: 10px;
}
.delete-button {
  padding: 10px 15px 10px 15px;
  background-color: blueviolet;
  color: azure;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.yellow {
  background-color: rgb(218, 218, 93);
}
.pink {
  background-color: rgb(210, 137, 224);
}
.orange {
  background-color: rgb(238, 133, 48);
}
.green {
  background-color: rgb(133, 218, 93);
}
.blue {
  background-color: rgb(93, 193, 218);
}
